
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

WINBO_BASE_URL=https://winbo-phx.azurewebsites.net
WINBO_EXPORT_BASE_URL=https://www.win.megalogic-phoenix.com/PhoenixBO/Exportaciones
WINBO_USERNAME=
WINBO_PASSWORD=
WINBO_TIMEOUT_MS=15000
WINBO_EXPORT_POLL_MS=5000
WINBO_EXPORT_MAX_RETRIES=8
WINBO_CRON_TOKEN=
